
div
    .greeting
        h1 Welcome!

    .call-to-action
        a(ui-sref='home.delivery') Are you making a delivery?
    .call-to-action
        a(ui-sref='home.visiting') Here for a meeting or to meet someone?