
div
    .greeting
        h1 Welcome!

    .call-to-action
        a(ui-sref='home.delivery')
            svg(role="img" class="icon")
                use(xlink:href="#icon-transport")
            span Have a delivery?

    .call-to-action
        a(ui-sref='home.visiting')
            svg(role="img" class="icon")
                use(xlink:href="#icon-business")
            span  Meeting someone?
