.greeting {
    h1 { font-weight: 400; text-align: center; }
}

.call-to-action {
    @include span-columns(6);
    svg, span {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}